.search_panel {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.search_input {
  height:30px;
  max-width: 500px;
  margin-right: 3px;
  width: 60%;
}
