.card {
  -webkit-box-shadow: 5px 5px 15px 0px #000000; 
  box-shadow: 5px 5px 15px 0px #000000;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #accebe;;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.person {
  text-decoration: underline;
}

.consent__person {
  margin-top: 10px;
}